.wrapper {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.next-to-close-button {
  border-radius: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  margin-right: 5%;
}
.close-button {
  width: 2rem;
  height: 2rem;
  border: none;
  background: transparent;
  border-radius: 50%;
}
.close-button:hover {
  background-color: #f18e4385;
}
.close-button-color {
  color: rgb(63, 62, 62);
}
table {
  border-collapse: collapse; /* セルの線を重ねる */
  margin-bottom: 1rem;
  width: 100%;
}
tr {
  border-bottom: solid;
  border-bottom-color: #75cdd94e;
  padding: 0.8rem 0;
}
th {
  width: 30%;
  padding: 5px 10px; /* 余白指定 */
  color: gray;
}
td {
  width: 70%;
  color: gray;
}
tr:nth-child(odd) {
  border-bottom-color: #f18e4346;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: gray;
}
